.app {
  background: #0B2434;
  height: 100vh;
  padding: 30px 20px;
  font-family: Inter, sans-serif;
}

main {
  background: #F5F5F5;
  border-radius: 10px;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
}

.dice-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);
  gap: 24px 32px;
}