.app {
  background: #0B2434;
  height: 100vh;
  padding: 30px 20px;
  font-family: Inter, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  background: #F5F5F5;
  border-radius: 10px;
  height: 320px;
  width: 320px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 35px;
  position: relative;
}

.dice-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);
  gap: 18px;
}

.roll {
  background: #5035FF;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.18);
  border-radius: 4px;
  border: none;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  width: 92px;
  height: 36px;
  margin-top: 26px;
  cursor: pointer;
}

.roll:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

main h1 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.03em;
  color: #2B283A;
}

main p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.03em;
  color: #4A4E74;
  margin-bottom: 30px;
  max-width: 233px;
}

.localization {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: .7rem;
  border-radius: 10px;
  border: 1px solid gray;
  cursor: pointer;
  width: 50px;
}

.localization:active{
  box-shadow: inset 3px 5px 17px -3px rgb(0 0 0 / 70%);
}
