.die {
  background: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 36px;
  height: 36px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  position: relative;
}

.green-bg {
  background-color: #59E391;
}

.dot {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: black;
  /* padding: 1rem; */
}

.dots1 {
  display: flex;
  align-items: center;
  justify-content: center;
}


.dots2 .dot:nth-child(1) {
  top: 15%;
  left: 15%;
}

.dots2 .dot:nth-child(2) {
  top: 70%;
  left: 70%;
}

.dots3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dots3 .dot:nth-child(1) {
  top: 15%;
  left: 15%;
}

.dots3 .dot:nth-child(3) {
  top: 70%;
  left: 70%;
}

.dots4 .dot:nth-child(1) {
  top: 15%;
  left: 15%;
}

.dots4 .dot:nth-child(2) {
  top: 70%;
  left: 70%;
}

.dots4 .dot:nth-child(3) {
  top: 15%;
  left: 70%;
}

.dots4 .dot:nth-child(4) {
  top: 70%;
  left: 15%;
}

.dots5 .dot:nth-child(1) {
  top: 15%;
  left: 15%;
}

.dots5 .dot:nth-child(2) {
  top: 70%;
  left: 70%;
}

.dots5 .dot:nth-child(3) {
  top: 15%;
  left: 70%;
}

.dots5 .dot:nth-child(4) {
  top: 70%;
  left: 15%;
}

.dots5 {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ========================= DICE 6 =================== */
.dots6 .dot:nth-child(1) {
  top: 15%;
  left: 15%;
}

.dots6 .dot:nth-child(2) {
  top: 70%;
  left: 70%;
}

.dots6 .dot:nth-child(3) {
  top: 15%;
  left: 70%;
}

.dots6 .dot:nth-child(4) {
  top: 70%;
  left: 15%;
}

.dots6 .dot:nth-child(5) {
  top: 43%;
  left: 15%;
}

.dots6 .dot:nth-child(6) {
  top: 43%;
  left: 70%;
}